footer
{
    width: 100%;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    text-align: left;
    padding: 40px;
    /*background-image: url('../../../public/assets/31.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;*/
    box-sizing: border-box;
}

footer div
{
    border-left: 1px solid #fff;
    width: 320px;
    height: 220px;
    padding: 20px;
    border-radius: 60% 20% 40% 50%;
    color: #A4A4A4;
}

footer h3
{
    background-color: #0A122A;
    font-size: 16px;
}


footer figure
{
    display: flex;
    flex-flow: column;
}

footer figure a
{
    text-decoration: none;
    color: #A4A4A4;
    padding: 5px 0;
    width: fit-content;
}
footer figure a:hover
{
    font-weight: bold;
}


.inicio
{
    width: fit-content;
    height: auto;
    margin-top: 30px;
    background-color: #2EFE9A;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #070719;
}


footer img
{
    width: 30px;
    height: auto;
    margin-right: 10px;
    filter: grayscale(100%);
}

footer figure
{
    display: flex;
    flex-flow: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

footer figcaption
{
    font-size: 14px;
}