.roda 
{
    width: 100%;
    display: flex;
    flex-flow: column;
    background-color: #070719;
}

.roda p
{
    width: 100%;
    color: #fff;
}

.footer
{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
    background-color: #0A122A;
    background-image: url('../../../public/assets/31.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 700px;
}

.link-footer
{
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    text-align: left;
    width: fit-content;
    margin-bottom: 5px;
}

.footer-caixa-links
{
    width: 20%;
    height: 10vh;
    display: flex;
    flex-flow: column;
    height: auto;
    margin: 10px;
    margin-left: 20px;
}

.footer-caixa-links h2
{
    width: fit-content;
    color: #fff;
    margin-left: 20px;
    text-align: left;
    padding: 10px;
    border-radius: 10px ;

}




.links-rodape
{
    width: fit-content;
    height: auto;
    display: flex;
    flex-flow: column;
}

.a-footer
{
    text-decoration: none;
    text-align: left;
    margin-left: 30px;
    color: #fff;
    width: fit-content;
    margin-bottom: 10px;
}
.a-footer:hover
{
    font-weight: bold;
    margin-left: 35px;
}



