.quemsou
{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.box-quemsou-1
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 1px 10px black;

}

.box-quem-1
{
    width: 40%;
    padding: 10px;
    margin: 10px;
    border-right: 2px solid #070719;
}

.box-imagem-quemsou-1
{
    width: 40%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.img
{
    width: 60%;
    height: auto;
    padding: 10px;
    border: 1px solid green;
}


.titulo-quemsou-1
{
    color: #070719;
    padding: 10px;
    font-size: 24px;
}

.paragrafo-quemsou-1
{
    color: #070719;
}

/*Seção 2*/

.box-quemsou-2
{
    width: 100%;
}
.box2
{
    width: 50%;
    border-left: 2px solid #070719;
    border-bottom: 2px solid #070719;
    border-top: 2px solid #070719;
    padding: 10px;
    float: right;
    margin: 10px;
}

.titulo-quemsou-2
{
    color: #070719;
}

.paragrafo-quemsou-3
{
    color: #070719;
}

.minha-foto
{
    width: 20%;
    height: auto;
    margin: 20px;
    box-shadow: 0px 1px 10px #0B615E;
    border-radius: 20px 5px 20px 5px;
}
.minha-foto:hover
{
    border-radius: 5px 20px 5px 20px;
    box-shadow: 0px 1px 10px black;
}


/*Seção 3*/

.box-quemsou-3
{
    width: 100%;
}

.box-quem-3
{
    width: 50%;
    border-top: 2px solid #070719;
    border-right: 2px solid #070719;
    border-bottom: 2px solid #070719;
    padding: 10px;
    margin: 10px;
}