/*Pagina Geral*/

.geral
{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/*Apresentacao*/

.box-pai-apresentacao
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.box-filho-apresentacao
{
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: center;
    margin: 100px;
}

.titulo-apresentacao
{
    width: auto;
    color: #070719;
    font-size: 40px;
    text-align: left;
    margin: 5px;
}

/*Quem sou*/

.quemsou
{
    width: 100%;
    min-width: auto;
    height: auto;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    background-color: #fff;
    background-image: -webkit-linear-gradient(67deg, #070719 50%, #fff 50%);
}

.box-paragrafos-quemsou
{
    width: 40%;
    padding: 10px;
    margin: 10px;
    background: #070719;
    box-shadow: 0px 1px solid black;
    border: 3px solid #424242;
    border-radius: 20px;
}

.img-quemsou
{
    width: 80px;
    height: auto;
}

.paragrafo-quemsou
{
    color: #fff;
    padding: 15px;
    font-size: 14px;
    text-align: start;
}



.titulo-quemsou
{
    width: auto;
    color: #fff;
    background: #424242;
    padding: 5px;
    border-radius: 10px;
}

/*Formação*/

.formacao
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    min-width: auto;
    height: auto;
    min-height: 600px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(-67deg, #070719 50%, #fff 50%);
}

.box-formacao-titulo-paragrafo
{
    width: 50%;
    padding: 10px;
    margin: 10px;
    background: #070719;
    border: 3px solid #B45F04;
    border-radius: 20px;
}

.titulo-formacao
{
    color: #fff;
    background: #B45F04;
    width: auto;
    padding: 5px;
    border-radius: 10px;
}

.paragrafo-formacao
{
    color: #fff;
    padding: 15px;
    font-size: 14px;
    text-align: start;
}

/*Experiencias*/

.experiencias
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    width: 100%;
    min-width: auto;
    height: auto;
    min-height: 600px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(67deg, #070719  50%, #fff 50%);
}

.titulo-experiencia
{
    width: auto;
    color: #fff;
    background: #0B615E;
    width: auto;
    padding: 5px;
    border-radius: 10px;
}

.box-paragrafos-experiencia
{
    width: 40%;
    background: #070719;
    border: 3px solid #0B615E;
    border-radius: 20px;
}
.paragrafo-experiencia
{
    padding: 15px;
    color: #fff;
    font-size: 14px;
    text-align: start;
}

/*Midia*/

.midia
{
    width: 100%;
    min-width: auto;
    height: auto;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    background-image: -webkit-linear-gradient(-67deg, #070719 50%, #fff 50%);
}

.titulo-midia
{
    color: #fff;
    background: #5E610B;
    width: auto;
    padding: 5px;
    border-radius: 10px;
}

.box-midia
{
    background: #070719;
    border: 3px solid #fff;
}

.encapsulamento
{
    border: 3px solid #070719;
}


@media screen and (min-width: 768px) and (max-width: 1023px){
    .box-filho-apresentacao{
        width: 100%;
        margin: 60px 60px 0px 60px;
    }

   

    .box-paragrafos-quemsou{
        width: 80%;
        margin-top: 0;
        padding: 0;
    }
    .box-titulo-quemsou{
        display: none;
    }


    .box-formacao-titulo-paragrafo{
        width: 80%;
        margin-top: 0;
        padding: 0;
    }
    .box-titulo-formacao{
        display: none;
    }


    .experiencias, .quemsou, .formacao, .box-pai-apresentacao{
        background: #FAFAFA;
    }
    .box-paragrafos-experiencia{
        width: 80%;
        margin-top: 0;
        padding: 0;
    }
    .box-titulo-experiencia{
        display: none;
    }   

    .midia
    {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    .box-filho-apresentacao{
        width: 100%;
        margin: 10px;
        margin-top: 40px;
    }

    .box-formacao-titulo-paragrafo, .box-paragrafos-experiencia, .box-paragrafos-quemsou{
        width: 80%;
        margin: 0px;
        padding: 0px;
    }

    .box-titulo-formacao, .box-titulo-experiencia, .box-titulo-quemsou, .midia{
        display: none;
    }


    .experiencias, .quemsou, .formacao, .box-pai-apresentacao{
        background: #FAFAFA;
    }
   
}