.topo-principal
{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-topo-principal
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 30px;
    color: white;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    height: auto;
}
.botao-menu
{
    display: none;
}

.nav-topo-principal
{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.link-topo-principal
{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: 500;
    font-size: 12px;    
}

.link-topo-principal:hover
{
    font-weight: bold;
    border-bottom: 2px solid #fff
}


@media screen and (min-width: 768px) and (max-width: 1023px){
    .logo-topo-principal{
        width: 100%;
        border-bottom: 2px solid #fff;
        text-align: left;
        margin: 0px;
    }
}
@media screen and (max-width: 767px) {
    .logo-topo-principal{
        width: 100%;
        border-bottom: 2px solid #fff;
        text-align: left;
        margin: 0px;
    }

    .linkedin{
        display: none;
    }
}