.topo-principal
{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topo-principal h2
{
    width: 20%;
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: white;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    height: auto;
}
.botao-menu
{
    display: none;
}

.nav-topo-principal
{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.link-topo-principal
{
    display: flex;
    flex-flow: nowrap;
    width: fit-content;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;    
}

.link-topo-principal:hover
{
    width: fit-content;
    padding: auto;
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
    font-weight: bold;
}


@media screen and (max-width: 767px) and (max-width: 1023px){
    .topo-principal
    {
        display: flex;
        flex-flow: column;
    }

    .topo-principal h2
    {
        width: 100%;
        margin: 0;
        padding: 10px 0px 10px 30px;
        box-sizing: border-box;
    }

    .nav-topo-principal
    {
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .qmsou
    {
        display: none;
    }
}