:root
{
    --colorBlue: #0A122A;
    --colorCinza: #848484;
    --colorLilaz: #070719;
}
.header
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--colorBlue);
    color: var(--colorCinza);
    padding: 10px 40px 0px 40px  ;
}

header span
{
    
    font-size: 34px;
    font-weight: 1000;
    animation: brilho 10s ease-in-out infinite;
    color: #848484;
}

header span:nth-of-type(2)
{
    animation-delay: 0.25s;
}

header span:nth-of-type(3)
{
    animation-delay: 0.50s;
}

header span:nth-of-type(4)
{
    animation-delay: 0.75s;
}

header span:nth-of-type(5)
{
    animation-delay: 1s;
}

header span:nth-of-type(6)
{
    animation-delay: 1.25s;
}



@keyframes brilho {
    0% {
        color: #fff;
        text-shadow: 0 0 12px var(--colorLilaz), 
        0 0 50px var(--colorLilaz), 
        0 0 100px var(--colorLilaz) ;
    }
    10%, 90%{
        color: var(--colorCinza);
        text-shadow: none;
    }
}

.navegacao
{
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacao a
{
    display: flex;
    flex-flow: nowrap;
    width: fit-content;
    text-decoration: none;
    color: white;
    font-size: 12px;
    box-sizing: border-box;
    opacity: 50%;
    border-right: 1px solid white;
    padding-right: 20px;
}

.navegacao a:hover
{
    opacity: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header{
        display: flex;
        flex-flow: column;
    }
    .header div{
        width: 100%;
    }
    .header nav{
        margin-top: 10px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
}