.conteudo
{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: wrap;
    align-content: space-between;
    background: #0A122A;
}

/*Primeira seção*/

.boasvindas
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 50px;
    box-sizing: border-box;
}

.box-boasvindas
{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: left;
}
.titulo-boasvindas
{
    width: 80%;
    color: #fff;
    margin: 0px;
    border-radius: 5px 10px 5px 10px;
    font-size: 50px;
    margin-left: 230px;
}

.paragrafo-boasvindas
{
    color: #fff;
    margin-left: 20px;
}


/*segunda seção*/

.cards-habilidades
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-around;
}

.habilidades
{
    width: 50%;
    height: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    margin: 30px;
}

.box-frontend, .box-ferramentas, .box-formacao, .box-cursos, .box-experiencia
{
    width: 200px;
    height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: space-around;
    background: #0A122A;
    border-radius: 5px;
    border: 1px solid #01A9DB;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: left;
    padding: 5px;
    box-shadow: 0px 1px 10px black;
}

.box-frontend:hover, .box-ferramentas:hover, .box-formacao:hover, .box-cursos:hover, .box-experiencia:hover
{
    margin-bottom: 20px;
    box-sizing: border-box;
    transition-duration: 3s;
}

.titulo-habilidade-frontend
{
    font-size: 13px;
    color: #DF0174;
    font-weight: bold;
}


.titulo-habilidade-ferramenta
{
    font-size: 13px;
    color: #F5BCA9;
    font-weight: bold;
}

.titulo-habilidade-formacao
{
    font-size: 13px;
    color: #00FFFF;
    font-weight: bold;
}

.titulo-habilidade-curso
{
    font-size: 13px;
    color: #FA8258;
    font-weight: bold;
}
.titulo-habilidade-experiencia
{
    font-size: 13px;
    color: #FFBF00;
    font-weight: bold;
}

.paragrafo-habilidade-frontend, .paragrafo-habilidade-ferramenta, .paragrafo-habilidade-formacao, .paragrafo-habilidade-curso, .paragrafo-habilidade-experiencia
{
    color: #fff;
    font-size: 13px;
}

.box-icone
{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.vetor
{
    width: 100%;
    height: auto;
}


.link-id
{
    text-decoration: none;

}


.icones
{
    width: 50px;
    height: auto;
    padding: 3px;
}

.paragrafo-card
{
    color: #fff;
    font-size: 14px;
}

.secao-slide
{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #f2f2f2;
}

@media screen and (max-width: 767px)
{
    .boasvindas
    {
        display: flex;
        justify-content: center;
    }
    .box-boasvindas
    {
        width: 100%;
        margin: 30px;
    }

    .cards-habilidades
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .habilidades
    {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }

    .habil
    {   
        width: 300px;
        height: 200px;
    }

    .box-icone
    {
        display: none;
    }
}

